body {
	margin-left:0;
	margin-right:0;
	padding-top:0;
	padding-bottom:5%;
	text-align:center;
	font-size: 12px;
}

div.menu {
	background-color:#424242;
	padding-top:3px;
	padding-bottom:2px;
	color: white;
}

a.menu-item {
	text-decoration: none;
	color:white;
}

.galery {
	margin-bottom:5%;
}

p.header-description {
	padding-top:15%;
	padding-bottom:5%;
	/*background-color:#abc;*/
	margin-bottom:100px;
}
